.herocard {
  padding: 1rem 1rem;
  width: 98vw;
}
.cardContainer {
  overflow-x: hidden;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 100%;
}
.top {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1.4rem;
}
.top .card {
  height: 35vh;
  min-width: 18vw;
  border-radius: 20px;
}
.bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1.4rem;
}
.bottom .card {
  height: 35vh;
  min-width: 20vw;
  border-radius: 20px;
}
