.navcontainer {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}
.navl {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links li a {
  color: inherit;
  text-decoration: none;
}

.others {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.others .login {
  background: none;
  padding: 10px;
  border: none;
}
.others .badge {
  position: relative;
}
.others .badge .bate {
  position: absolute;
  top: -7px;
  right: 0;
  background: red;
  padding: 1px 3px;
  border-radius: 30%;
  color: white;
  font-size: 12px;
}
